
#leftc{
    float: left;
    width: 20vw;
    position: relative;
    top: 7.5vh;
    left: 9vw;
    
    img{
     height: 40vh;
     width: 20vw;
     left: 9vw;
     
    }
    p{
        font-family: Arial;
        font-weight: bold;
    }
}

#rightc{
    float: left;
    width: 20vw;
    position: relative;
    top: 10vh;
    left: 41vw;
    img{
     height: 40vh;
     width: 20vw;
     
     }
    p{
        font-family: Arial;
        font-weight: bold;
        
    }
    
}

@media screen and (max-width:500px) {
    #leftc{
        left: 24vw;
        top: 0vh;
        img{
            height: 60vh;
            width: 60vw;
            left: 9vw;
            
           }
        p{
            font-size: large;
        }
    }

    #rightc{
        top: 17vh;
        float: none;
        left: 10vw;
        margin-bottom: 30vh;
    img{
         height: 20vh;
         width: 40vh;
         
         
         }
    }
}





